body {
  background: no repeat center center;
  background-size: cover;
  background-color: white;
  color:white;
  min-height: 100vh;
}

.color-overlay {
  max-width: 750px;
  background-color: rgba(0,0,0,.75);
}

.color-overlay-board-table {
  background-color: rgba(0,0,0,.75);
}

#myInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#table_test {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#table_test th, #table_test td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#table_test tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#table_test tr.header, #table_test tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
