.index__header_main {
    border-spacing: 0;
    margin: 1rem;
    color:black;
}

.index__header_refresh {
    border-spacing: 0;
    margin: 1rem;
}

.form__boards {
    border-spacing: 0;
    margin: 1rem;
    padding: 8px
}

.table__main {
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
}

.table__row:nth-child(even) {
    background-color: #e5e5e5;
}

.table__header {
    text-align: left;
}

.table__cell {
    padding: 8px
}

