<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link href="/static/styles.css" rel="stylesheet" type="text/css" />
        <link href="/static/custom.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <h1 class="index__header_main">Open Work Orders Without A Test</h1>
            <h4 class="index__header_main"><small>Click any button in the far left column in the table below to add a test to the list.</small></h4>
            <form class="form__tests" action="/">
                <input type="submit" value="Go Home" />
            </form>
            <form class="form__tests" action="/tests">
                <input type="submit" value="Go to Selected Tests" />
            </form>
        </div>
        <header class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
            <div class="container color-overlay-test-table p-3 p-md-5">
                <div class="row">
                    <table class="table__test">
                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for WorkOrders...">
                        <tr class="table__header">
                            {% for col in column_names %}
                            <th class="table__cell">{{col}}</th>
                            {% endfor %}
                        </tr>
                        {% for row in row_data %}
                        <tr class="table__header">
                            {% for col, row_ in zip(column_names, row) %}
                            <!-- If the column equals Selected -->
                            <form method="POST">
                            {% if col == "Selected" %}
                            <td class="table__cell">
                                <input class="btn btn-outline-light" type="submit" name="Selected" value={{ row_ }} />
                            </td>
                            {% elif col == "test_code" %}
                            <td class="table__cell">
                                <input type="hidden" name="test_code" value={{ row_ }} />
                                {{row_}}</td>
                            {% elif col == "B" %}
                            <td class="table__cell">
                                <input type="hidden" name="B" value={{ row_ }} />
                                {{row_}}</td>
                            {% elif col == "test_revision" %}
                            <td class="table__cell">
                                <input type="hidden" name="test_revision" value={{ row_ }} />
                                {{row_}}</td>
                            </form>
                            {% else %}
                            <td class="table__cell">{{row_}}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </header>
        <script>
            function myFunction() {
              // Declare variables
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementsByClassName("table_test");
              tr = document.getElementsByTagName("tr");
            
              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[6];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
        </script>
    </body>
</html>
